<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout"
    th:with="title='expenses'">
<!--passing title to layout.html-->

<th:block layout:fragment="content">

    <!---add expense modal-->
    <div class="modal fade" id="addExpenseModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 70%; width: auto;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">New Expense</h4>
                </div>
                <div class="modal-body">
                    <div class="dropdown">
                        <form class="form-inline d-flex justify-content-center" method="GET"
                            th:action="@{/expenses/selectProject}">
                            <table>
                                <tr>
                                    <td>
                                        <h5>Date</h5>
                                    </td>
                                    <td>
                                        <div class="md-form">
                                            <input type="date" id="inputMDEx" class="form-control">
                                            <!--  <label for="inputMDEx">Choose your date</label> -->
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>Project &nbsp;&nbsp; &nbsp; </h5>
                                    </td>

                                    <td>
                                        <select class="form-control" aria-label="Default select example"
                                            id="selectProject" name="selectProject">
                                            <option value="-" id="loading">Please select project!</option>
                                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <h5>Expense &nbsp;&nbsp; &nbsp; </h5>
                                    </td>
                                    <td>
                                        <select class="form-control" aria-label="Default select example"
                                            id="selectExpense" name="selectExpense">
                                            <option value="-" id="loading2">Please select expense!</option>
                                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <h5>Qty &nbsp;&nbsp; &nbsp; </h5>
                                    </td>
                                    <td>
                                         <div class="row">
                                            <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <button type="button"
                                                        class="quantity-left-minus btn btn-danger btn-number"
                                                        data-type="minus" data-field="">
                                                        <span class="fa fa-minus"></span>
                                                    </button>
                                                </span>
                                                <input type="text" id="quantity" name="quantity"
                                                    class="form-control input-number" value="1" min="1" max="100">
                                                <span class="input-group-append">
                                                    <button type="button"
                                                        class="quantity-right-plus btn btn-success btn-number"
                                                        data-type="plus" data-field="">
                                                        <span class="fa fa-plus"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <h5>Unit Amount &nbsp;&nbsp; &nbsp; </h5>
                                    </td>
                                    <td>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">$</span>
                                            <input type="text" class="form-control" name="unit_amount">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </td>
                                </tr>

                                <!--      <tr>
                                    <td>
                                        <h5>Qty &nbsp;&nbsp; &nbsp; </h5>
                                    </td>

                                    <td>
                                        <div class="col-auto">
                                            <div class="input-group">
                                                <span class="input-group-text"  onclick="calculatePrice(-1);">-</span>
                                                <input name="qty" type="text" class="form-control" style="width:60px;" value="1">
                                                <span class="input-group-text" onclick="calculatePrice(+1);">+</span>
                                            </div>
                                        </div>

                                    </td>
                                </tr> -->
                                <tr>
                                    <td>
                                        <h5>Total Amount &nbsp;&nbsp; &nbsp; </h5>
                                    </td>

                                    <td>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">$</span>
                                            <input type="text" class="form-control" id="total_amount"
                                                name="total_amount">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <h5>Upload Receipt</h5>
                                    </td>
                                    <td>

                                        <div class="input-group">
                                            <input type="file" class="form-control" id="inputGroupFile04"
                                                aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                                            <button class="btn btn-outline-secondary" type="button"
                                                id="inputGroupFileAddon04">Button</button>
                                        </div>

                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="saveExpenseButton" class="btn btn-primary">Save Expenses</button>
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>


    <main>

        <div class="container-fluid px-4">
            <h1 class="mt-4">Expenses</h1>


            <div class="card mb-4">
                <div class="card-body">
                    <button type="button" id="addExpenseButton" class="btn btn-primary">Add Expense</button>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    DataTable Example
                </div>
                <div class="card-body">
                    <table id="myTable">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Project</th>
                                <th>Name</th>
                                <th>Unit Amount</th>
                                <th>Qty</th>
                                <th>Total Amount</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="el: ${expenselist}">
                                <td th:text="${el.date}"></td>
                                <td th:switch="${el.status}">
                                    <span th:case="'1'">Approved</span>
                                    <span th:case="'2'">Pending</span>
                                    <span th:case="'3'">Rejected</span>
                                </td>
                                <td th:text="|${el.project.number} ${el.project.title}|"> Kelly </td>
                                <td th:text="${el.expense.name}"> </td>
                                <td th:text="${el.expense.amount}"> Kelly </td>
                                <td th:text="${el.qty}"> Kelly </td>
                                <td th:text="${el.total_amount}"> Kelly </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </main>

    <!--  <th:block th:replace="fragments/footer :: footer"></th:block> -->




</th:block>


</html>

<script>

    var projectLists;
    var projectTaskLists;
    var project_id;
    var expenseLists;
    var user_id;
    var unit_amount;
    var expenseDetail;

    $(document).ready(function () {

        //user_id가져오
        var url = "/account/loginInfo";
        $.ajax({
            type: "POST",
            url: url,
            success: function (data) {
                user_id = data;


            }
        });



        $('#myTable').DataTable();

        $(function () {
            initButton();
        });


        var url = "/time/selectProject";
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                projectLists = data;
                console.log(projectLists)
                $(projectLists).each(function (i) {
                    $("select[name='selectProject']").append("<option value='" + projectLists[i].id + "'>" + projectLists[i].id + projectLists[i].number + projectLists[i].title + "  </option>");

                });

                //Change the text of the default "loading" option.
                $('#loading').text('select project');

            }
        });



        $("#selectProject").change(function () {
            project_id = $(this).val();
            //  projectTaskLists = getProjectTaskLists();
        });

        //+ - button for qty
        var quantitiy = 0;
        $('.quantity-right-plus').click(function (e) {

            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());

            // If is not undefined

            $('#quantity').val(quantity + 1);
            var totalamount = $('#quantity').val() * expenseDetail.amount;
            $("input[name='total_amount']").val(totalamount)

            // Increment

        });

        $('.quantity-left-minus').click(function (e) {
            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());

            // If is not undefined

            // Increment
            if (quantity > 0) {
                $('#quantity').val(quantity - 1);
            }

            var totalamount = $('#quantity').val() * expenseDetail.amount;
            $("input[name='total_amount']").val(totalamount)
        });



        var url = "/expenses/selectExpense";
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                expenseLists = data;
                console.log(expenseLists)
                $(expenseLists).each(function (i) {
                    $("select[name='selectExpense']").append("<option value='" + expenseLists[i].id + "'>" + expenseLists[i].id + expenseLists[i].name + "  </option>");
                    //  $("input[name='unit_amount']").append("<input value='" + expenseLists[i].amount + "'>" + expenseLists[i].amount + "  </input>");

                });

                //Change the text of the default "loading" option.
                $('#loading2').text('select expense');



            }
        });



        $("#selectExpense").change(function () {

            expense_id = $(this).val();

            var url = "/expenses/selectExpenseDetail";

            $.ajax({
                type: "GET",
                url: url,
                data: "expense_id=" + expense_id,

                success: function (data) {
                    expenseDetail = data;
                    console.log(expenseDetail)
                    // $("input[name='unit_amount']").append("<input value='" +expenseDetail.amount + "'>" + expenseDetail.amount + "  </input>");
                    $("input[name='unit_amount']").val(expenseDetail.amount)
                    $("input[name='unit_amount']").attr("readOnly", true);

                    $("input[name='quantity']").val(1)
                    $("input[name='total_amount']").attr("readOnly", true);
                    $("input[name='total_amount']").val(expenseDetail.amount)



                }
            });
        });






    });






    function initButton() {
        //addExpense button
        $("#addExpenseButton").click(function () {
            $("#addExpenseModel").modal("toggle");
        });

        //saveExpenseButton
        $("#saveExpenseButton").click(function () {
            var url = "/expenses/saveExpenses";
            var params = {};

            params["date"] = $("#inputMDEx").val();
            params["user_id"] = user_id;
            params["project_id"] = $("#selectProject option:selected").val();
            params["expense_id"] = $("#selectExpense option:selected").val();
            params["qty"] = $("#quantity").val();
            params["total_amount"] = $("#total_amount").val();
            // console.log(params)

            $.ajax({
                type: "POST",
                url: url,
                data: JSON.stringify(params),
                contentType: "application/json",
                success: function (data) {

                    if (!data) {
                        alert("select data");
                    } else {
                        alert("success!")
                        $("#addExpenseModel").modal('toggle');
                            location.reload();
                    }
                },
                error: function (err) {
                    console.log(err);

                }
            });

        })
    };

    var total = 1;
    function calculatePrice(cnt) {

        console.log("here?")
        total = this.total + cnt;
        if (total < 1) total = 1;
        this.total = total;
        $("input[name='qty']").val(total)
        //    console.log(total);
        //   var totalAmount = total * 
        //       $("input[name='aaa']").val(total)
        var totalamount = total * expenseDetail.amount;
        $("input[name='total_amount']").val(totalamount)
    }

</script>