<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout"
    th:with="title='expenses'"><!--passing title to layout.html-->



<th:block layout:fragment="content">
    <main>

        <div class="container-fluid px-4">
            <h1 class="mt-4">Expenses</h1>

            
            

        </div>
    </main>

       <!--  <th:block th:replace="fragments/footer :: footer"></th:block> -->
 



</th:block>


</html>