<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">

<div id="layoutSidenav_nav" th:fragment="sidemenu">
	<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
		<div class="sb-sidenav-menu">
			<div class="nav">
				<div class="sb-sidenav-menu-heading">Time and Expenses</div>
					<a class="nav-link collapsed" th:href="@{/time}" style="color: #CCCCCC; font-weight: 500">
					<div class="sb-nav-link-icon">
						<img style="width: 20px;" th:src="@{/assets/img/timesheetIcon.png}" />
					</div> Time</a> 
					
					<a class="nav-link collapsed" th:href="@{/expenses}" style="color: #CCCCCC; font-weight: 500">
					<div class="sb-nav-link-icon">
						<img style="width: 20px;" th:src="@{/assets/img/expenseIcon.png}" />
					</div> Expenses	
					</a>

				<div class="sb-sidenav-menu-heading">Account</div>
					<a class="nav-link" th:href="@{/account/profile}" style="color: #CCCCCC; font-weight: 500">
						<div class="sb-nav-link-icon">
							<img style="width: 20px;" th:src="@{/assets/img/profileIcon.png}" />
						</div> Profile
					</a>
				</div>
			</div>
		<div class="sb-sidenav-footer">
			<div class="small">Logged in as:</div>
			Start Bootstrap
		</div>
	</nav>
</div>


</html>